albumentations
annotated-types
anyio
blinker
certifi
charset-normalizer
click
contourpy
cycler
Cython
easydict
exceptiongroup
fastapi
Flask
flatbuffers
fonttools
h11
idna
imageio
importlib-metadata
importlib-resources
insightface
itsdangerous
Jinja2
joblib
kiwisolver
lazy_loader
MarkupSafe
matplotlib
networkx
numpy
onnx
onnxruntime
opencv-python-headless
packaging
pandas
Pillow
prettytable
protobuf
pydantic
pydantic_core
pyparsing
python-dateutil
python-multipart
pytz
PyWavelets
PyYAML
qudida
requests
scikit-image
scikit-learn
scipy
six
sniffio
starlette
threadpoolctl
tifffile
tqdm
typing_extensions
tzdata
urllib3
uvicorn
wcwidth
Werkzeug
zipp
